In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
#python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. 
#This task will be done in following steps: 
#1.	First get the webpage https://www.naukri.com/ 
#2.	Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field. 
#3.	Then click the search button. 
#4.	Then scrape the data for the first 10 jobs results you get. 
#5.	Finally create a dataframe of the scraped data.

In [3]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
#that was the class name
designation.send_keys("Data Analyst")
#that was to tell the pointer to jump on the search bar
#send_keys is to when you want to right something on the box

In [6]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('banglore')

In [7]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [52]:
job_titles=[]
job_locations=[]
company_name=[]
exp_req=[]

In [53]:
#scraping the title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [54]:
#scraping the location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_locations.append(loc)

In [55]:
#scraping the company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    company_name.append(comp)

In [56]:
#scraping the experience
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    exp_req.append(exp)

In [57]:
import pandas as pd
df=pd.DataFrame({'titles':job_titles,'location':job_locations,'company name':company_name,'experience required':exp_req})
df

Empty DataFrame
Columns: [titles, location, company name, experience required]
Index: []

In [58]:
#question--2

In [59]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [60]:
driver.get("https://www.naukri.com/")

In [61]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
#that was the class name
designation.send_keys("Data Analyst")
#that was to tell the pointer to jump on the search bar
#send_keys is to when you want to right something on the box

In [62]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [63]:
job_titles=[]
job_locations=[]
company_name=[]
exp_req=[]

In [64]:

title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_titles.append(title)

In [65]:
#scraping the location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    loc=i.text
    job_locations.append(loc)

In [66]:
#scraping the company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    company_name.append(comp)

In [67]:
#scraping the experience
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    exp_req.append(exp)

In [68]:
import pandas as pd
df=pd.DataFrame({'titles':job_titles,'location':job_locations,'company name':company_name,'experience required':exp_req})
df

,titles,location,company name,experience required
0,Data Analyst,Bangalore/Bengaluru,Brillio,0-2 Yrs
1,Data Analyst,Gurgaon/Gurugram,S&P Global Inc.,0-2 Yrs
2,Knowledge Data Analyst,Bangalore/Bengaluru,SAP,4-6 Yrs
3,Data Analyst,Gurgaon/Gurugram,GM Analytics Solutions,2-5 Yrs
4,Data Analyst - FinTech,"Noida, Ghaziabad, Faridabad, Gurgaon/Gurugram,...",Primo Hiring,1-3 Yrs
5,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
6,Data Analyst,"Hybrid - Bangalore/Bengaluru, Delhi / NCR",Aon,6-9 Yrs
7,Data Analyst,Hybrid - Delhi / NCR,HCLTech,3-6 Yrs
8,Data Analyst I,Gurgaon/Gurugram,Aon,4-6 Yrs
9,Data Analyst I,Gurgaon/Gurugram,Aon,4-6 Yrs

In [38]:
#question-3

In [266]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [267]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [268]:
driver.get("https://www.flipkart.com/?ef_id=abc149afa0381bd43b3a2dcaefbf33a9:G:s&s_kwcid=AL!739!10!76484942419895!76485137405439&semcmpid=sem_F1167BY7_Brand_adcenter")

In [269]:
product=driver.find_element(By.CLASS_NAME,'_3704LK')
#that was the class name
product.send_keys("sunglasses")
#that was to tell the pointer to jump on the search bar
#send_keys is to when you want to right something on the box

In [270]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [271]:
brands=[]
prices=[]
descriptions=[]

In [280]:
result_count=0

In [281]:
while result_count < 100:
    brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for tag in brand_tags:
        brandy = tag.text
        brands.append(brandy)
        result_count += 1
        if result_count == 100:
            break

    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for tag in price_tags:
        pricey = tag.text
        prices.append(pricey)

    description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for tag in description_tags:
        desy = tag.text
        descriptions.append(desy)

In [273]:
next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
next_button.click()

In [282]:
brands = brands[:100]
prices = prices[:100]
descriptions = descriptions[:100]

In [283]:
length = min(len(brands), len(prices), len(descriptions))
brands = brands[:length]
prices = prices[:length]
descriptions = descriptions[:length]

In [284]:
data = {
    'Brand': brands,
    'Price': prices,
    'Description': descriptions
}

df = pd.DataFrame(data)

# Print the dataframe
print(df)

               Brand   Price  \
0      VINCENT CHASE  ₹1,049
1         iCopertina    ₹199
2               SRPM    ₹149
3             PIRASO    ₹268
4          Elligator    ₹149
..               ...     ...
95           I Flash    ₹226
96          Fastrack    ₹649
97  Shaah Collection    ₹210
98            GANSTA    ₹292
99           I Flash    ₹236

                                          Description
0   by Lenskart Polarized, UV Protection Retro Squ...
1   UV Protection Retro Square Sunglasses (Free Size)
2              UV Protection Wayfarer Sunglasses (50)
3        UV Protection Aviator Sunglasses (Free Size)
4     UV Protection Aviator, Wayfarer Sunglasses (54)
..                                                ...
95  UV Protection, Polarized, Mirrored Rectangular...
96    Gradient, UV Protection Aviator Sunglasses (57)
97  UV Protection Aviator, Rectangular, Spectacle ...
98           UV Protection Over-sized Sunglasses (65)
99   UV Protection Rectangular Sunglasses (Free Size)

[100 rows x 3 columns]

In [285]:
import pandas as pd
df=pd.DataFrame({'brand pf product':brands,'price of product':prices,'written description':descriptions})
df

,brand pf product,price of product,written description
0,VINCENT CHASE,"₹1,049","by Lenskart Polarized, UV Protection Retro Squ..."
1,iCopertina,₹199,UV Protection Retro Square Sunglasses (Free Size)
2,SRPM,₹149,UV Protection Wayfarer Sunglasses (50)
3,PIRASO,₹268,UV Protection Aviator Sunglasses (Free Size)
4,Elligator,₹149,"UV Protection Aviator, Wayfarer Sunglasses (54)"
...,...,...,...
95,I Flash,₹226,"UV Protection, Polarized, Mirrored Rectangular..."
96,Fastrack,₹649,"Gradient, UV Protection Aviator Sunglasses (57)"
97,Shaah Collection,₹210,"UV Protection Aviator, Rectangular, Spectacle ..."
98,GANSTA,₹292,UV Protection Over-sized Sunglasses (65)
99,I Flash,₹236,UV Protection Rectangular Sunglasses (Free Size)

In [ ]:
#question-5

In [295]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [296]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [297]:
driver.get("https://www.flipkart.com/apple-iphone-11-white-64-gb/product-reviews/itmfc6a7091eb20b?pid=MOBFWQ6BVWVEH3XE&lid=LSTMOBFWQ6BVWVEH3XEMXQMLO&marketplace=FLIPKART")

In [298]:
ratings=[]
review_summarys=[]
full_reviews=[]

In [299]:
result_count=0

In [300]:
while result_count < 100:
    rating_tags = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for tag in rating_tags:
        rate = tag.text
        ratings.append(rate)
        result_count += 1
        if result_count == 100:
            break

    review_summary_tags = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for tag in review_summary_tags:
        summer = tag.text
        review_summarys.append(summer)

    full_review_tags = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]')
    for tag in full_review_tags:
        fullr = tag.text
        full_reviews.append(fullr)

In [301]:
next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
next_button.click()

In [302]:
ratings= ratings[:100]
review_summarys = review_summarys[:100]
full_reviews = full_reviews[:100]

In [303]:
import pandas as pd
df=pd.DataFrame({'ratingss':ratings,'review summarys':review_summarys,'full reviews':full_reviews})
df

,ratingss,review summarys,full reviews
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,4,Value-for-money,I'm Really happy with the product\nDelivery wa...
4,5,Highly recommended,It's my first time to use iOS phone and I am l...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Perfect product!,Value for money\n5 star rating\nExcellent came...
97,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
98,5,Highly recommended,What a camera .....just awesome ..you can feel...
99,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...

In [304]:
#question--6

In [305]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [306]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [307]:
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [308]:
brands=[]
prices=[]
descriptions=[]

In [309]:
result_count=0

In [310]:
while result_count < 100:
    brand_tags = driver.find_elements(By.XPATH, '//div[@class="_2WkVRV"]')
    for tag in brand_tags:
        brandy = tag.text
        brands.append(brandy)
        result_count += 1
        if result_count == 100:
            break

    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for tag in price_tags:
        pricey = tag.text
        prices.append(pricey)

    description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for tag in description_tags:
        desy = tag.text
        descriptions.append(desy)

In [311]:
length = min(len(brands), len(prices), len(descriptions))
brands = brands[:length]
prices = prices[:length]
descriptions = descriptions[:length]

In [312]:
import pandas as pd
df=pd.DataFrame({'brand pf product':brands,'price of product':prices,'written description':descriptions})
df

,brand pf product,price of product,written description
0,K- FOOTLANCE,₹499,Casual Sneakers White Outdoor Shoes For Boys A...
1,RapidBox,₹579,Sneakers For Men
2,aadi,₹299,Synthetic| Lightweight| Premiun| Comfort| Summ...
3,BIRDE,₹469,Combo Pack Of 2 Casual Shoes Sneakers For Men
4,BIRDE,₹469,Combo Pack Of 2 Casual Shoes Sneakers For Men
...,...,...,...
95,BIRDE,₹449,Sneakers For Men
96,asian,₹639,Modern Trendy Sneakers Shoes Sneakers For Men
97,K- FOOTLANCE,₹399,Stylish Comfortable Casual Sneakers Shoes for ...
98,World Wear Footwear,₹279,Sneakers For Men
99,BRUTON,₹239,sports Sneakers For Men

In [313]:
#question--7

In [339]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [340]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [341]:
driver.get("https://www.amazon.in/s?k=laptop&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031&dc&ds=v1%3A6Tux315j3x%2BpOWHIKs9d2kHAuvvN3KUNOz84YeGZjLs&qid=1684426611&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_9")

In [342]:
titles=[]
ratings=[]
prices=[]

In [343]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title=i.text
    titles.append(title)

In [344]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rat=i.text
    ratings.append(rat)

In [345]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    pri=i.text
    prices.append(pri)

In [346]:
import pandas as pd
df=pd.DataFrame({'product title':titles,'ratingss':ratings,'price of product':prices})
df

                                       product title ratingss price of product
0  Acer Predator Helios Neo 16 Gaming Laptop 13th...                  1,29,990
1  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...                    98,990
2  ASUS TUF Gaming F15 (2022), 15.6"(39.62 cms) F...                    94,990
3  HP Envy x360 12th Gen Intel Core i7-13.3 inch(...                  1,04,990
4  Dell Alienware x14 Gaming Laptop, Intel i7-127...                  2,12,490
5  Samsung Galaxy Book2 (NP750) Intel 12th Gen co...                    79,990
6  HP Victus Gaming Latest 12th Gen Intel Core i7...                    79,990
7  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...                    84,999
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...                    93,749
9  MSI Katana 15, Intel 12th Gen. i7-12650H, 40CM...                    91,990

In [335]:
#question-7

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [3]:
driver.get('https://www.azquotes.com/top_quotes.html')

In [4]:
quotes=[]
authors=[]
types=[]

In [5]:
quote_tags = driver.find_elements(By.XPATH, '//a[@class="title"]')

for quote in quote_tags:
    quote_texts.append(quote.text)
print(quote_texts)

NameError: name 'quote_texts' is not defined

In [ ]:
author_tags = driver.find_elements(By.XPATH, '//div[@class="author"]')
for author in author_tags:
    authors.append(author.text)

print(authors)

In [ ]:
type_tags = driver.find_elements(By.XPATH, '//div[@class="tags"]')
for tag in type_tags:
    types.append(tag.text)

print(types)

In [7]:
data = []


for i in range(len(author_tags)):
    author = author_tags[i].text
    quote = quote_tags[i].text
    type = type_tags[i].text
    data.append({
        'Author': author,
        'Quote': quote,
        'Type': type
    })

df = pd.DataFrame(data)
df

NameError: name 'author_tags' is not defined

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [6]:
driver.get('https://www.jagranjosh.com/')

In [7]:
gk_button = driver.find_element(By.XPATH, '//a[text()="GK"]')
gk_button.click()

In [8]:
link = driver.find_element(By.XPATH, '//a[text()="List of all Prime Ministers of India"]')
link.click()

In [15]:
names = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr/td[2]/p')

name_list = []
for name in names:
    name_list.append(name.text)

# Print the extracted names
for name in name_list:
    print(name)

Jawahar Lal Nehru
Gulzarilal Nanda (Acting)
Lal Bahadur Shastri
Gulzari Lal Nanda  (Acting)
Indira Gandhi
Morarji Desai
Charan Singh
Indira Gandhi
Rajiv Gandhi
V. P. Singh
Chandra Shekhar
P. V. Narasimha Rao
Atal Bihari Vajpayee
H. D. Deve Gowda
Inder Kumar Gujral
Atal Bihari Vajpayee
Manmohan Singh
Narendra Modi
Narendra Modi

In [16]:
born_values = []
dead_values = []

rows = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr')

for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    
    if len(cells) >= 4:
        born_values.append(cells[2].text)
        dead_values.append(cells[3].text)

# Print the extracted values
for i in range(len(born_values)):
    print("Born:", born_values[i])
    print("Dead:", dead_values[i])
    print()

# Alternatively, you can store the values in a pandas DataFrame
data = {
    'Born': born_values,
    'Dead': dead_values
}

df = pd.DataFrame(data)
print(df)

Born: (1889–1964)
Dead: 15 August 1947 to 27 May 1964
16 years, 286 days

Born: (1898-1998)
Dead: 27 May 1964 to 9 June 1964,
13 days

Born: (1904–1966)
Dead: 9 June 1964 to 11 January 1966
1 year, 216 days

Born: (1898-1998)
Dead: 11 January 1966 to 24 January 1966
13 days

Born: (1917–1984)
Dead: 24 January 1966 to 24 March 1977
11 years, 59 days

Born: (1896–1995)
Dead: 24 March 1977 to  28 July 1979
2 year, 126 days

Born: (1902–1987)
Dead: 28 July 1979 to 14 January 1980
170 days

Born: (1917–1984)
Dead: 14 January 1980 to 31 October 1984
4 years, 291 days

Born: (1944–1991)
Dead: 31 October 1984 to 2 December 1989
5 years, 32 days

Born: (1931–2008)
Dead: 2 December 1989 to 10 November 1990
343 days

Born: (1927–2007)
Dead: 10 November 1990 to 21 June 1991
223 days

Born: (1921–2004)
Dead: 21 June 1991 to 16 May 1996
4 years, 330 days

Born: (1924- 2018)
Dead: 16 May 1996 to 1 June 1996
16 days

Born: (born 1933)
Dead: 1 June 1996 to 21 April 1997
324 days

Born: (1919–2012)
Dead: 21 April 1997 to 19 March 1998
332 days

Born: (1924-2018)
Dead: 19 March 1998 to 22 May 2004
6 years, 64 days

Born: (born 1932)
Dead: 22 May 2004 to 26 May 2014
10 years, 4 days

Born: (born 1950)
Dead: 26 May 2014 - 2019

Born: (born 1950)
Dead: 30 May 2019- Incumbent

            Born                                               Dead
0    (1889–1964)  15 August 1947 to 27 May 1964\n16 years, 286 days
1    (1898-1998)               27 May 1964 to 9 June 1964,\n13 days
2    (1904–1966)   9 June 1964 to 11 January 1966\n1 year, 216 days
3    (1898-1998)        11 January 1966 to 24 January 1966\n13 days
4    (1917–1984)  24 January 1966 to 24 March 1977\n11 years, 59...
5    (1896–1995)  24 March 1977 to  28 July 1979 \n2 year, 126 days
6    (1902–1987)          28 July 1979 to 14 January 1980\n170 days
7    (1917–1984)  14 January 1980 to 31 October 1984\n4 years, 2...
8    (1944–1991)  31 October 1984 to 2 December 1989\n5 years, 3...
9    (1931–2008)      2 December 1989 to 10 November 1990\n343 days
10   (1927–2007)         10 November 1990 to 21 June 1991\n223 days
11   (1921–2004)     21 June 1991 to 16 May 1996\n4 years, 330 days
12  (1924- 2018)                16 May 1996 to 1 June 1996\n16 days
13   (born 1933)             1 June 1996 to 21 April 1997\n324 days
14   (1919–2012)          21 April 1997 to 19 March 1998 \n332 days
15   (1924-2018)    19 March 1998 to 22 May 2004 \n6 years, 64 days
16   (born 1932)    22 May 2004 to 26 May 2014   \n10 years, 4 days
17   (born 1950)                                 26 May 2014 - 2019
18   (born 1950)                             30 May 2019- Incumbent

In [17]:
term_of_office_values = []

rows = driver.find_elements(By.XPATH, '//div[@class="table-box"]/table/tbody/tr')

for row in rows:
    cells = row.find_elements(By.TAG_NAME, 'td')
    
    if len(cells) >= 5:
        term_of_office_values.append(cells[4].text)

# Print the extracted values
for value in term_of_office_values:
    print("Term of Office:", value)
    print()

# Alternatively, you can store the values in a pandas DataFrame
data = {
    'Term of Office': term_of_office_values
}

df = pd.DataFrame(data)
print(df)

Term of Office: The first prime minister of India and the longest-serving PM of India, the first to die in office.

Term of Office: First acting PM of India

Term of Office: He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965

Term of Office: -

Term of Office: First female Prime Minister of India

Term of Office: Oldest to become PM (81 years old) and first to resign from office

Term of Office: Only PM who did not face the Parliament

Term of Office: The first lady who served as PM for the second term

Term of Office: Youngest to become PM (40 years old)

Term of Office: First PM to step down after a vote of no confidence

Term of Office: He belongs to  Samajwadi Janata Party

Term of Office: First PM from South India

Term of Office: PM for shortest tenure

Term of Office: He belongs to  Janata Dal

Term of Office: ------

Term of Office:  The first non-congress PM who completed a full term as PM

Term of Office:  First Sikh PM

Term of Office: 4th Prime Minister of India who served two consecutive tenures

Term of Office: First non-congress PM with two consecutive tenures

                                       Term of Office
0   The first prime minister of India and the long...
1                            First acting PM of India
2   He has given the slogan of 'Jai Jawan Jai Kisa...
3                                                   -
4                First female Prime Minister of India
5   Oldest to become PM (81 years old) and first t...
6             Only PM who did not face the Parliament
7   The first lady who served as PM for the second...
8                Youngest to become PM (40 years old)
9   First PM to step down after a vote of no confi...
10              He belongs to  Samajwadi Janata Party
11                          First PM from South India
12                             PM for shortest tenure
13                          He belongs to  Janata Dal
14                                             ------
15   The first non-congress PM who completed a ful...
16                                      First Sikh PM
17  4th Prime Minister of India who served two con...
18  First non-congress PM with two consecutive ten...

In [19]:
import pandas as pd
df=pd.DataFrame({'namess':names,'born_valuess':born_values,'dead_valuees':dead_values,'term of office':term_of_office_values})
df

,namess,born_valuess,dead_valuees,term of office
0,<selenium.webdriver.remote.webelement.WebEleme...,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,<selenium.webdriver.remote.webelement.WebEleme...,(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,<selenium.webdriver.remote.webelement.WebEleme...,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,<selenium.webdriver.remote.webelement.WebEleme...,(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,<selenium.webdriver.remote.webelement.WebEleme...,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,<selenium.webdriver.remote.webelement.WebEleme...,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,<selenium.webdriver.remote.webelement.WebEleme...,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,<selenium.webdriver.remote.webelement.WebEleme...,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,<selenium.webdriver.remote.webelement.WebEleme...,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,<selenium.webdriver.remote.webelement.WebEleme...,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,<selenium.webdriver.remote.webelement.WebEleme...,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,<selenium.webdriver.remote.webelement.WebEleme...,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from South India
12,<selenium.webdriver.remote.webelement.WebEleme...,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,<selenium.webdriver.remote.webelement.WebEleme...,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,<selenium.webdriver.remote.webelement.WebEleme...,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,<selenium.webdriver.remote.webelement.WebEleme...,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,<selenium.webdriver.remote.webelement.WebEleme...,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,<selenium.webdriver.remote.webelement.WebEleme...,(born 1950),26 May 2014 - 2019,4th Prime Minister of India who served two con...
18,<selenium.webdriver.remote.webelement.WebEleme...,(born 1950),30 May 2019- Incumbent,First non-congress PM with two consecutive ten...

In [ ]:
#This task will be done in following steps: 
#1.	First get the webpage https://www.motor1.com/ 
#2.	Then You have to click on the List option from Dropdown menu on left side. 
#3.	Then click on 50 most expensive cars in the world.. 
#4.	Then scrap the mentioned data and make the dataframe.

In [38]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [39]:
driver=webdriver.Chrome(r"C:\Users\RITVIK BHARDWAJ\Desktop\chrome web driver\chrome.exe")

In [40]:
driver.get('https://www.motor1.com/')

In [41]:
button=driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
button.click()

In [44]:
button_a=driver.find_element(By.XPATH,'//button[@class="dropdown-toggle"]')
button_a.click()

In [47]:
button_list=driver.find_element(By.XPATH,'/html/body/div[4]/div[1]/div[3]/ul/li[6]/ul/li[1]/a')
button_list.click()

In [48]:
item = driver.find_element(By.XPATH, '/html/body/div[3]/div[8]/div[1]/div[1]/div/div/div[7]/div/div[1]/h3/a')
item.click()

In [49]:
cars_name=[]

In [76]:
car_name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_name_tags[:50]:
    car=i.text
    cars_name.append(car)

In [77]:
print(cars_name)

['De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*']

In [78]:
import pandas as pd
df=pd.DataFrame({'cars name':cars_name})
df

                    cars name
0               De Tomaso P72
1           Ferrari LaFerrari
2               Pagani Huayra
3                McLaren Elva
4                 Czinger 21C
..                        ...
193        Bugatti Centodieci
194   Bugatti Chiron Profilée
195      Rolls-Royce Sweptail
196  Bugatti La Voiture Noire
197    Rolls-Royce Boat Tail*

[198 rows x 1 columns]